body{    
    margin:0;
    background: url(../AHORCADO/fondo\ circulos\ 2.jpeg)  no-repeat center;
    background-size: cover;
    font-family: "Impact", "Arial Narrow Bold", "sans-serif";
    min-height: 100vh;
}

header{
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}


h1{
    margin: 0;
    color: white;
}

main{
    width: 80%;
    padding: 20px;
    margin: auto;
    background: rgba(255, 255, 255, .7);
    display: flex;
    gap: 30px;
    display: none;
}

#imagen{
    width: 500px;
    display: none;
}

#palabraAdivinar{
    height: 3em;
    display: none;
}

#palabraAdivinar span{
    vertical-align: bottom;
    font-size: 2em;
    border-bottom: 2px solid black;
    width: 30px;
    text-align: center;
    margin-right: 6px;
    display: inline-block;
    display: none;

}

#letras{
    margin-top: 30px;
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    text-align: center;
    display: none;

}

#letras button{
    width: 28px;
    height: 40px;
    padding: 7px 0;  
    text-align: center;
    display: none;
}

#Empezar{
    
    width: 25%;
    margin-top: 10%;
    margin-left: 38%;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
  
}
.boton{
    width: 25%;
    border-radius: 15px;
    padding: 15px;
    display: none;
    cursor: pointer;
}

footer{
    text-align: center;
    padding: 1px;
}

.Victor{
    font-size: 20px;
    color: white;
}

.Copyright{
    font-size: 20px;
    color: white;
}